In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

upgrad = pd.read_csv('D:/upgrad/EDA/grades.csv')

In [2]:
upgrad.head()

                                          submission        submit_time
0  https://ckd.upgrad.com/UpGrad/73ba5189-94fd-44...  01/03/17-20:28:52
1  https://ckd.upgrad.com/UpGrad/185242ff-7508-4c...  01/03/17-20:18:21
2  https://ckd.upgrad.com/UpGrad/a353d129-c100-43...  01/03/17-22:37:08
3  https://ckd.upgrad.com/UpGrad/002fc912-faa1-49...  01/02/17-21:43:19
4  https://ckd.upgrad.com/UpGrad/25cbc4a4-6d49-4f...  01/03/17-15:27:49

In [3]:
upgrad.iloc[0,0]

'https://ckd.upgrad.com/UpGrad/73ba5189-94fd-44aa-88d3-6b36aaa69b02/DDA1610095.zip'

In [4]:
upgrad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 2 columns):
submission     198 non-null object
submit_time    198 non-null object
dtypes: object(2)
memory usage: 3.2+ KB

In [8]:
upgrad['datetime'] =  pd.to_datetime(upgrad['submit_time'], format='%m/%d/%y-%H:%M:%S')

In [12]:
upgrad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 4 columns):
submission     198 non-null object
submit_time    198 non-null object
date           198 non-null datetime64[ns]
datetime       198 non-null datetime64[ns]
dtypes: datetime64[ns](2), object(2)
memory usage: 6.3+ KB

In [13]:
upgrad['date'] = upgrad['datetime'].dt.date

In [14]:
upgrad['hour'] = upgrad['datetime'].dt.hour

In [15]:
upgrad.head()

,submission,submit_time,date,datetime,hour
0,https://ckd.upgrad.com/UpGrad/73ba5189-94fd-44...,01/03/17-20:28:52,2017-01-03,2017-01-03 20:28:52,20
1,https://ckd.upgrad.com/UpGrad/185242ff-7508-4c...,01/03/17-20:18:21,2017-01-03,2017-01-03 20:18:21,20
2,https://ckd.upgrad.com/UpGrad/a353d129-c100-43...,01/03/17-22:37:08,2017-01-03,2017-01-03 22:37:08,22
3,https://ckd.upgrad.com/UpGrad/002fc912-faa1-49...,01/02/17-21:43:19,2017-01-02,2017-01-02 21:43:19,21
4,https://ckd.upgrad.com/UpGrad/25cbc4a4-6d49-4f...,01/03/17-15:27:49,2017-01-03,2017-01-03 15:27:49,15

In [19]:
upgrad['format'] = upgrad['submission'].apply(lambda x: x[x.rfind('.')-len(x)+1:])

In [20]:
upgrad.head()

,submission,submit_time,date,datetime,hour,format
0,https://ckd.upgrad.com/UpGrad/73ba5189-94fd-44...,01/03/17-20:28:52,2017-01-03,2017-01-03 20:28:52,20,zip
1,https://ckd.upgrad.com/UpGrad/185242ff-7508-4c...,01/03/17-20:18:21,2017-01-03,2017-01-03 20:18:21,20,zip
2,https://ckd.upgrad.com/UpGrad/a353d129-c100-43...,01/03/17-22:37:08,2017-01-03,2017-01-03 22:37:08,22,zip
3,https://ckd.upgrad.com/UpGrad/002fc912-faa1-49...,01/02/17-21:43:19,2017-01-02,2017-01-02 21:43:19,21,zip
4,https://ckd.upgrad.com/UpGrad/25cbc4a4-6d49-4f...,01/03/17-15:27:49,2017-01-03,2017-01-03 15:27:49,15,zip

In [31]:
fmt = upgrad.groupby('format')['submission'].count().reset_index()

In [34]:
fmt.head()

  format  submission
0     7z           2
1      R           7
2    zip         189

In [38]:
fmt['percent'] = fmt['submission']/upgrad['submission'].count()

In [39]:
fmt.head()

  format  submission   percent
0     7z           2  0.010101
1      R           7  0.035354
2    zip         189  0.954545

In [62]:
from datetime import datetime as dt
first_deadline = dt.now().replace(hour=23, minute=59, second=59, microsecond=59, day=3,month=1,year=2017)

In [63]:
second_deadline = dt.now().replace(hour=23, minute=59, second=59, microsecond=59, day=9,month=1,year=2017)

In [64]:
def deadline_check(stime):
     if stime<=first_deadline: 
        return 'before_first'
     elif (stime>first_deadline) & (stime<=second_deadline):
        return 'between' 
     else :
        return 'after_second'

In [65]:
upgrad['deadline'] = upgrad['datetime'].apply(lambda x: deadline_check(x))

In [66]:
upgrad.groupby('deadline')['submission'].count()

deadline
after_second      5
before_first    154
between          39
Name: submission, dtype: int64

In [69]:
upgrad.groupby('date')['submission'].count().reset_index().sort_values('submission', ascending=False)

          date  submission
9   2017-01-03         120
14  2017-01-09          21
8   2017-01-02          14
10  2017-01-04          12
5   2016-12-30           6
7   2017-01-01           6
15  2017-01-10           3
13  2017-01-08           3
12  2017-01-07           2
3   2016-12-28           2
4   2016-12-29           2
16  2017-01-17           1
0   2016-11-19           1
11  2017-01-06           1
1   2016-12-19           1
6   2016-12-31           1
2   2016-12-21           1
17  2017-02-03           1

In [70]:
upgrad.groupby('hour')['submission'].count().reset_index().sort_values('submission', ascending=False)

    hour  submission
21    23          66
19    21          27
20    22          24
18    20          16
0      0          10
1      1           8
11    13           6
16    18           6
12    14           6
15    17           4
13    15           4
10    12           3
8     10           3
3      3           3
14    16           2
17    19           2
4      4           2
2      2           2
9     11           1
6      8           1
7      9           1
5      6           1