In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv("D:/upgrad/inferential_stats/Inferential Statistics - Student Loan.csv",encoding='palmos')

In [2]:
df.isnull().any()
df.head()
def convertToFlt(per):
    sper = per[:-2]
    return float(sper)
df['Recovery (%)'] = df['Recovery (%)'].apply(convertToFlt)

In [3]:
df['expected_loss'] = df['Exposure at Default (in lakh Rs.)'] - df['Recovery (%)']*df['Exposure at Default (in lakh Rs.)']*0.01

In [4]:
df.head()

,Customer No.,Exposure at Default (in lakh Rs.),Recovery (%),Probability of Default,Unnamed: 4,Unnamed: 5,expected_loss
0,1,11.50,20.0,0.0070,NaN,NaN,9.20000
1,2,0.24,5.1,0.0033,NaN,NaN,0.22776
2,3,0.04,24.8,0.0022,NaN,NaN,0.03008
3,4,13.81,2.2,0.0066,NaN,NaN,13.50618
4,5,19.84,3.4,0.0020,NaN,NaN,19.16544

In [5]:
np.sum(df['expected_loss']*df['Probability of Default'])

493.673775204

In [6]:
df.head()

,Customer No.,Exposure at Default (in lakh Rs.),Recovery (%),Probability of Default,Unnamed: 4,Unnamed: 5,expected_loss
0,1,11.50,20.0,0.0070,NaN,NaN,9.20000
1,2,0.24,5.1,0.0033,NaN,NaN,0.22776
2,3,0.04,24.8,0.0022,NaN,NaN,0.03008
3,4,13.81,2.2,0.0066,NaN,NaN,13.50618
4,5,19.84,3.4,0.0020,NaN,NaN,19.16544

In [7]:
df = pd.read_csv("C:/Users/aryan.singh/Downloads/Inferntial Statistics - UpGrad Samples.csv",encoding='palmos')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 2 columns):
Sample No.     100 non-null int64
Sample Mean    100 non-null float64
dtypes: float64(1), int64(1)
memory usage: 1.6 KB

In [9]:
df['Sample Mean'].mean()

2.3480000000000003

In [10]:
df['Sample Mean'].std()

0.42698851497340273

In [11]:
df['sum'] = df['Sample Mean'].apply(lambda x: (x-2.348)**2)

In [12]:
df['sum'].sum()

18.0496

In [15]:
(df['sum'].sum()/df.count())**(1/2)

Sample No.     0.424848
Sample Mean    0.424848
sum            0.424848
dtype: float64

In [16]:
df = pd.read_csv("D:/upgrad/inferential_stats/Inferential Statistics - Powai Flats Rent.csv",encoding='palmos')

In [17]:
df.head()

   S. No.  Monthly Rent
0       1         44000
1       2         49800
2       3         45400
3       4         40700
4       5         43900

In [18]:
df['Monthly Rent'].describe()

count      200.000000
mean     45571.000000
std       7457.521851
min      30100.000000
25%      41250.000000
50%      44950.000000
75%      49825.000000
max      59800.000000
Name: Monthly Rent, dtype: float64

In [22]:
1.96*7457.52/(200**(1/2))

1033.559540715523